[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
format = "black ./scripts"
isort = "isort ./scripts"
lint = "flake8 ./scripts"
notebook = "jupyter notebook --no-browser"
test = "coverage run -m pytest"
coverage = "coverage report"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
snscrape = "*"
onnxruntime = "*"
pysastrawi = "*"
tqdm = "*"

[dev-packages]
black = "*"
isort = "*"
jupyter = "*"
flake8 = "*"
pytest = "*"
coverage = "*"

[requires]
python_version = "3.8"
