[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
pandas = "*"
matplotlib = "*"
seaborn = "*"
scikit-learn = "*"
snscrape = "*"
onnxruntime = "*"
pysastrawi = "*"
tqdm = "*"
jupyter = "*"

[dev-packages]
black = "*"
isort = "*"
pytest = "*"
coverage = "*"
mypy = "*"
pytest-cov = "*"
pre-commit = "*"

[requires]
python_version = "3.8"
